body {
    background-color: #fafafc;
}

.header {
    border: 1px solid #E4E3EB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #ffff;
}

.logo-img {
    width: 150px;
    height: auto;
}

.filter-button {
    margin: 0 24px;
}

.blog-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.categories {
    padding: 0 300px;
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
}

.popup_Window {
    left: 35%;
    top: 50%;
    border-radius: 12px;
    background-color: white;
    position: absolute;
    text-align: center;
    width: 500px;
    height: 200px;
}

.blog-img {
    width: 100%;
}
