.blog_img{
    width: 100%;
    height: 328px;
}
.blog_container{
    display: flex;
    justify-content: center;
}
.slide_button{
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.blog_slides {
    padding: 40px;
    text-align: center;
}

.blog_slide_img{
    width: 408px;
    height: 328px;
}