.login{
    border: 0;
    height: 40px;
    border-radius: 8px;
    font-family: FiraGO;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    background-color: #5D37F3;
    color: white;
}